.div-block-12 {
    flex-direction: row-reverse;
}
.div-block-12 .text-block-9 {
    padding-left: 15px;
}

.emoji {
    display: inline-block;
    width: 2em;
    height: 2em;

    width: 48px;
    height: 48px;
}

.div-block-6:nth-child(2n) {
    background-color:rgb(244, 205, 246);
    color: blue;
}
.div-block-6:nth-child(2n) .text-block-5 {
    background-color:rgb(244, 205, 246);
    color: blue;
}